html {
  /*background: url('../img/002.jpg') no-repeat center center fixed;*/
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/002.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/002.jpg', sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: #383E4B;
  overflow: hidden;
}
body a {
  color: #36A9E1;
  text-decoration: none;
  cursor: pointer;
}
section[name=authentication] {
  height: 100%;
}
section[name=authentication] .grid {
  height: 100%;
}
section[name=authentication] .title {
  margin-bottom: 40px;
}
section[name=authentication] .column {
  max-width: 350px;
}
section[name=authentication] .options {
  margin-top: 60px;
}
section[name=authentication] .options a {
  font-size: 13px;
}
section[name=authentication] .options .divider {
  margin: 5px auto;
}